openapi: 3.0.3
info:
  title: Escrow Payment Service API
  description: |
    Blockchain-backed escrow service that manages creation, locking, release and refund
    of buyer payments for the decentralized e-commerce platform. Integrates with on-chain
    Escrow smart contract (Escrow.sol) and emits events for other services (Orders, Reputation).
  version: 1.0.0
  contact:
    name: API Support
    email: support@decentral-ecom.io

servers:
  - url: https://api.decentral-ecom.io/escrow/v1
    description: Production server
  - url: http://localhost:3005/api/v1
    description: Local development server

tags:
  - name: Escrow
    description: Escrow lifecycle management (create, lock, release, refund)
  - name: Payments
    description: Payment-related operations and transaction queries
  - name: Webhooks
    description: Outgoing notifications for escrow events

paths:
  /escrows:
    get:
      tags:
        - Escrow
      summary: List escrows
      description: Retrieve escrow records filtered by buyer, seller, order, or state
      operationId: listEscrows
      parameters:
        - name: buyer
          in: query
          description: Filter by buyer wallet or DID
          required: false
          schema:
            type: string
        - name: seller
          in: query
          description: Filter by seller wallet or DID
          required: false
          schema:
            type: string
        - name: orderId
          in: query
          description: Associated order identifier
          required: false
          schema:
            type: string
        - name: state
          in: query
          description: Escrow state filter
          required: false
          schema:
            type: string
            enum: [locked, released, refunded, failed]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Successful retrieval of escrow records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowList'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: 'listing-api.yaml#/components/schemas/Error'

    post:
      tags:
        - Escrow
      summary: Create escrow and lock funds
      description: >
        Initializes an escrow for an order and locks buyer funds on-chain. Service will
        deploy/use Escrow smart contract and return escrow details and suggested transaction
        payload if needed.
      operationId: createEscrow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowCreateRequest'
      responses:
        '201':
          description: Escrow created and funds locked (or transaction payload returned)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Escrow'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: 'listing-api.yaml#/components/schemas/Error'
        '409':
          description: Escrow already exists for this order
          content:
            application/json:
              schema:
                $ref: 'listing-api.yaml#/components/schemas/Error'

  /escrows/{escrowId}:
    get:
      tags:
        - Escrow
      summary: Get escrow by ID
      description: Retrieve escrow details including on-chain status and transaction info
      operationId: getEscrow
      parameters:
        - name: escrowId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Escrow details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Escrow'
        '404':
          description: Escrow not found
          content:
            application/json:
              schema:
                $ref: 'listing-api.yaml#/components/schemas/Error'

  /escrows/{escrowId}/release:
    post:
      tags:
        - Escrow
        - Payments
      summary: Release escrow funds to seller
      description: >
        Releases locked funds to the seller. Service will call the Escrow smart contract
        (release) and emit relevant events for Orders and Reputation to consume.
      operationId: releaseEscrow
      parameters:
        - name: escrowId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Escrow released successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Escrow'
        '409':
          description: Escrow cannot be released (invalid state or dispute)
          content:
            application/json:
              schema:
                $ref: 'listing-api.yaml#/components/schemas/Error'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: 'listing-api.yaml#/components/schemas/Error'

  /escrows/{escrowId}/refund:
    post:
      tags:
        - Escrow
        - Payments
      summary: Refund escrow to buyer
      description: >
        Refunds locked funds to the buyer (on cancellation or dispute resolution). Calls
        Escrow smart contract refund logic and records transaction.
      operationId: refundEscrow
      parameters:
        - name: escrowId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Escrow refunded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Escrow'
        '409':
          description: Refund not permitted
          content:
            application/json:
              schema:
                $ref: 'listing-api.yaml#/components/schemas/Error'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: 'listing-api.yaml#/components/schemas/Error'

  /webhooks:
    post:
      tags:
        - Webhooks
      summary: Register a webhook for escrow events
      description: Register an endpoint to receive escrow lifecycle events (escrow.created, escrow.released, escrow.refunded).
      operationId: registerEscrowWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreateRequest'
      responses:
        '201':
          description: Webhook registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: Invalid webhook data
          content:
            application/json:
              schema:
                $ref: 'listing-api.yaml#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Escrow:
      type: object
      properties:
        escrowId:
          type: string
          example: "esc_0xabc123escrowid"
        orderId:
          type: string
          example: "1234543212345afsdas"
        listing:
          $ref: 'listing-api.yaml#/components/schemas/Listing'
        buyer:
          $ref: '#/components/schemas/Participant'
        seller:
          $ref: '#/components/schemas/Participant'
        amount:
          type: number
          format: float
          example: 0.8
        currency:
          type: string
          example: "ETH"
        state:
          type: string
          enum: [locked, released, refunded, failed]
          example: "locked"
        escrowAddress:
          type: string
          example: "0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"
        transactionHash:
          type: string
        network:
          type: string
          example: "Ethereum"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        notes:
          type: string
          description: Optional notes or reason for state change

    EscrowCreateRequest:
      type: object
      required: [orderId, buyer, seller, amount, currency]
      properties:
        orderId:
          type: string
          description: Associated order id
        listingId:
          type: string
          description: Optional linked listing id (if available)
        buyer:
          $ref: '#/components/schemas/Participant'
        seller:
          $ref: '#/components/schemas/Participant'
        amount:
          type: number
        currency:
          type: string
          example: "ETH"
        escrowNetwork:
          type: string
          example: "Ethereum"
        meta:
          type: object
          description: Optional metadata (e.g., expiration, dispute window)
          additionalProperties: true

    EscrowList:
      type: object
      properties:
        escrows:
          type: array
          items:
            $ref: '#/components/schemas/Escrow'
        pagination:
          $ref: 'listing-api.yaml#/components/schemas/Pagination'

    Participant:
      type: object
      properties:
        address:
          type: string
          example: "0x1234567890abcdef1234567890abcdef12345678"
        did:
          type: string
          example: "did:ethr:0x1234567890abcdef1234567890abcdef12345678"
        name:
          type: string
          example: "Niranjan"

    WebhookCreateRequest:
      type: object
      required: [url, events]
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
          description: Events to subscribe to (e.g., escrow.created, escrow.released, escrow.refunded)
        secret:
          type: string
          description: Optional HMAC secret for webhook signing

    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        events:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time

security:
  - bearerAuth: []
