openapi: 3.0.3
info:
  title: Listing Service API
  description: |
    Handles creation, management, and publication of product listings
    for the decentralized e-commerce platform.  
    Integrates with IPFS for metadata storage and blockchain for verification.
  version: 1.0.0
  contact:
    name: API Support
    email: support@decentral-ecom.io

servers:
  - url: https://api.decentral-ecom.io/listings/v1
    description: Production server
  - url: http://localhost:3001/api/v1
    description: Local development server

tags:
  - name: Listings
    description: CRUD operations for product listings
  - name: Publication
    description: Endpoints for publishing listings to IPFS and blockchain
  - name: Seller
    description: Manage seller-specific listings

paths:
  /listings:
    get:
      tags:
        - Listings
      summary: List all listings
      description: Retrieve listings with filters and pagination
      operationId: listListings
      parameters:
        - name: seller
          in: query
          description: Filter by seller wallet or DID
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by listing status
          required: false
          schema:
            type: string
            enum: [draft, published, archived]
        - name: category
          in: query
          description: Filter by category
          required: false
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Successful listing retrieval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingList'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags:
        - Listings
      summary: Create new listing
      description: Create a new product listing (stored off-chain, optionally linked to IPFS)
      operationId: createListing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingCreateRequest'
      responses:
        '201':
          description: Listing created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /listings/{listingId}:
    get:
      tags:
        - Listings
      summary: Get listing by ID
      operationId: getListing
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Listing details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '404':
          description: Listing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Listings
      summary: Update a listing
      operationId: updateListing
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingUpdateRequest'
      responses:
        '200':
          description: Listing updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '400':
          description: Invalid update data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Listings
      summary: Delete a listing
      operationId: deleteListing
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Listing deleted successfully
        '404':
          description: Listing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /listings/{listingId}/publish:
    post:
      tags:
        - Publication
      summary: Publish listing to IPFS and blockchain
      description: Push listing metadata to IPFS and register reference on-chain
      operationId: publishListing
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Listing published successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Listing'
        '409':
          description: Listing already published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Listing:
      type: object
      properties:
        listingId:
          type: string
          example: "lst_0x1234abcd5678ef90"
        name:
          type: string
          example: "Limited Edition NFT Hoodie"
        description:
          type: string
          example: "Premium cotton hoodie linked to NFT ownership"
        category:
          type: string
          example: "fashion"
        price:
          type: number
          format: float
          example: 0.8
        currency:
          type: string
          example: "ETH"
        images:
          type: array
          items:
            $ref: '#/components/schemas/IPFSImage'
        stock:
          type: integer
          example: 25
        status:
          type: string
          enum: [draft, published, archived]
          example: "published"
        seller:
          $ref: '#/components/schemas/Seller'
        ipfsMetadata:
          $ref: '#/components/schemas/IPFSMetadata'
        blockchain:
          $ref: '#/components/schemas/BlockchainInfo'
        createdAt:
          type: string
          format: date-time
          example: "2025-10-31T12:00:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2025-10-31T12:30:00Z"

    ListingCreateRequest:
      type: object
      required: [name, description, category, price, seller]
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        price:
          type: number
        currency:
          type: string
          example: "ETH"
        images:
          type: array
          items:
            type: string
          example: ["QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG"]
        seller:
          $ref: '#/components/schemas/Seller'

    ListingUpdateRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
        stock:
          type: integer
        status:
          type: string
          enum: [draft, published, archived]

    ListingList:
      type: object
      properties:
        listings:
          type: array
          items:
            $ref: '#/components/schemas/Listing'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Seller:
      type: object
      properties:
        address:
          type: string
        did:
          type: string
        name:
          type: string
        reputation:
          type: integer
        verified:
          type: boolean

    IPFSMetadata:
      type: object
      properties:
        cid:
          type: string
          example: "QmXnnyufdzAWL5CqZ2RnSNgPbvCc1ALT73s6epPrRnZ1Xy"
        url:
          type: string
          example: "https://ipfs.io/ipfs/QmXnnyufdzAWL5CqZ2RnSNgPbvCc1ALT73s6epPrRnZ1Xy"

    IPFSImage:
      type: object
      properties:
        cid:
          type: string
        url:
          type: string

    BlockchainInfo:
      type: object
      properties:
        network:
          type: string
          example: "Ethereum"
        contractAddress:
          type: string
        tokenId:
          type: string
        transactionHash:
          type: string

    Pagination:
      type: object
      properties:
        currentPage:
          type: integer
        totalPages:
          type: integer
        totalResults:
          type: integer
        resultsPerPage:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
