openapi: 3.0.3
info:
  title: Order Service API
  description: |
    Manages order creation, payment, escrow, and fulfillment in the decentralized Nozama ecosystem.  
    References schemas from the Listing and Search services for unified schema definitions.
  version: 1.0.0
  contact:
    name: API Support
    email: wedon'thavesupport@nozama.com

servers:
  - url: https://api.nozama.io/orders/v1
    description: Production server
  - url: http://localhost:3003/api/v1
    description: Local development server

tags:
  - name: Orders
    description: Manage buyer-seller orders
  - name: Escrow
    description: Blockchain-based escrow lifecycle management
  - name: Fulfillment
    description: Shipping and delivery updates

paths:
  /orders:
    get:
      tags: [Orders]
      summary: List all orders
      description: Retrieve orders filtered by buyer, seller, or status
      operationId: listOrders
      parameters:
        - name: buyer
          in: query
          description: Filter by buyer wallet or DID
          schema:
            type: string
        - name: seller
          in: query
          description: Filter by seller wallet or DID
          schema:
            type: string
        - name: status
          in: query
          description: Filter by order status
          schema:
            type: string
            enum: [pending, paid, shipped, delivered, cancelled, disputed, refunded]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Successful retrieval of orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: 'shared-components.yaml#/components/schemas/Error'

    post:
      tags: [Orders]
      summary: Create new order
      description: Initialize an order with escrow lock
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRequest'
      responses:
        '201':
          description: Order successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid order data
          content:
            application/json:
              schema:
                $ref: 'shared-components.yaml#/components/schemas/Error'

  /orders/{orderId}:
    get:
      tags: [Orders]
      summary: Get order details
      operationId: getOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: 'shared-components.yaml#/components/schemas/Error'

    put:
      tags: [Orders]
      summary: Update order status
      operationId: updateOrderStatus
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [paid, shipped, delivered, cancelled, disputed, refunded]
      responses:
        '200':
          description: Order status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid status change
          content:
            application/json:
              schema:
                $ref: 'shared-components.yaml#/components/schemas/Error'

  /orders/{orderId}/escrow/release:
    post:
      tags: [Escrow]
      summary: Release escrow funds
      description: Unlock escrow and transfer payment to seller after delivery
      operationId: releaseEscrow
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Escrow released
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '409':
          description: Escrow cannot be released
          content:
            application/json:
              schema:
                $ref: 'shared-components.yaml#/components/schemas/Error'

  /orders/{orderId}/escrow/refund:
    post:
      tags: [Escrow]
      summary: Refund escrow
      description: Refunds the buyer in case of cancellation or dispute
      operationId: refundEscrow
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Escrow refunded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '409':
          description: Refund not permitted
          content:
            application/json:
              schema:
                $ref: 'shared-components.yaml#/components/schemas/Error'

  /orders/{orderId}/fulfillment:
    post:
      tags: [Fulfillment]
      summary: Update fulfillment information
      description: Update shipment tracking or mark delivery completion
      operationId: updateFulfillment
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FulfillmentUpdateRequest'
      responses:
        '200':
          description: Fulfillment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid fulfillment data
          content:
            application/json:
              schema:
                $ref: 'shared-components.yaml#/components/schemas/Error'

components:
  schemas:
    Order:
      type: object
      properties:
        orderId:
          type: string
          example: "1234543212345afsdas"
        listing:
          $ref: '#/components/schemas/Listing'
        buyer:
          $ref: '#/components/schemas/Participant'
        seller:
          $ref: '#/components/schemas/Seller'
        status:
          type: string
          enum: [pending, paid, shipped, delivered, cancelled, disputed, refunded]
          example: "pending"
        totalAmount:
          type: number
          example: 0.8
        currency:
          type: string
          example: "ETH"
        escrow:
          $ref: '#/components/schemas/EscrowInfo'
        fulfillment:
          $ref: '#/components/schemas/FulfillmentInfo'
        blockchain:
          $ref: '#/components/schemas/BlockchainInfo'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OrderCreateRequest:
      type: object
      required: [listingId, buyer, totalAmount, currency]
      properties:
        listingId:
          type: string
          description: Associated listing ID
        buyer:
          $ref: '#/components/schemas/Participant'
        totalAmount:
          type: number
        currency:
          type: string
          example: "ETH"
        escrowNetwork:
          type: string
          example: "Ethereum"

    FulfillmentUpdateRequest:
      type: object
      properties:
        trackingId:
          type: string
          example: "1234543212345afsdas"
        carrier:
          type: string
          example: "DHL"
        status:
          type: string
          enum: [shipped, delivered]
          example: "shipped"
        notes:
          type: string
          example: "Package left the warehouse."

    FulfillmentInfo:
      type: object
      properties:
        trackingId:
          type: string
        carrier:
          type: string
        status:
          type: string
        updatedAt:
          type: string
          format: date-time

    EscrowInfo:
      type: object
      properties:
        escrowAddress:
          type: string
          example: "0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"
        state:
          type: string
          enum: [locked, released, refunded]
          example: "locked"
        transactionHash:
          type: string
        network:
          type: string
          example: "Ethereum"

    Participant:
      type: object
      properties:
        address:
          type: string
          example: "0x1234567890abcdef1234567890abcdef12345678"
        did:
          type: string
          example: "did:ethr:0x1234567890abcdef1234567890abcdef12345678"
        name:
          type: string
          example: "Niranjan"

    OrderList:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Listing:
      type: object
      properties:
        listingId:
          type: string
          example: "lst_0x1234abcd5678ef90"
        name:
          type: string
          example: "Limited Edition NFT Hoodie"
        description:
          type: string
          example: "Premium cotton hoodie linked to NFT ownership"
        category:
          type: string
          example: "fashion"
        price:
          type: number
          format: float
          example: 0.8
        currency:
          type: string
          example: "ETH"
        images:
          type: array
          items:
            $ref: '#/components/schemas/IPFSImage'
        stock:
          type: integer
          example: 25
        status:
          type: string
          enum: [draft, published, archived]
          example: "published"
        seller:
          $ref: '#/components/schemas/Seller'
        ipfsMetadata:
          $ref: '#/components/schemas/IPFSMetadata'
        blockchain:
          $ref: '#/components/schemas/BlockchainInfo'
        createdAt:
          type: string
          format: date-time
          example: "2025-10-31T12:00:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2025-10-31T12:30:00Z"
    Seller:
      type: object
      required:
        - address
        - name
      properties:
        address:
          type: string
          example: "0x1234abcd5678ef90"
        name:
          type: string
          example: "Alice"
        reputation:
          type: integer
          example: 85
        verified:
          type: boolean
          example: true
    IPFSMetadata:
      type: object
      properties:
        cid:
          type: string
          example: "QmXnnyufdzAWL5CqZ2RnSNgPbvCc1ALT73s6epPrRnZ1Xy"
        url:
          type: string
          example: "https://ipfs.io/ipfs/QmXnnyufdzAWL5CqZ2RnSNgPbvCc1ALT73s6epPrRnZ1Xy"
    IPFSImage:
      type: object
      properties:
        cid:
          type: string
        url:
          type: string
    BlockchainInfo:
      type: object
      properties:
        network:
          type: string
          example: "Ethereum"
        contractAddress:
          type: string
        tokenId:
          type: string
        transactionHash:
          type: string
    Pagination:
      type: object
      properties:
        currentPage:
          type: integer
        totalPages:
          type: integer
        totalResults:
          type: integer
        resultsPerPage:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
